    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% @produtos_por_nome.each do |p| %>
                <tr>
                    <td><%= p.nome %></td>
                    <td><%= p.descricao %></td>
                    <td><%= p.quantidade %></td>
                    <td><%= p.preco %></td>

                    <td><%= button_to "Remover", p, method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza que deseja remover #{p.nome}?" }  %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <% @produtos_por_preco.each do |p| %>
                <tr>
                    <td><%= p.nome %></td>
                    <td><%= p.descricao %></td>
                    <td><%= p.quantidade %></td>
                    <td><%= p.preco %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to "Criar novo produto", new_produto_path %>